<div class="card">
  <p-button title="Add" icon="pi pi-plus" class="add-btn" (click)="goToAddRoute()"></p-button>
</div>
<div class="card">
  <p-table
    [columns]="cols"
    [value]="tableData"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [(first)]="first"
    [rowsPerPageOptions]="[5, 10, 20]"
    [totalRecords]="rowCount"
    [loading]="loading"
    [globalFilterFields]="['fio', 'name', 'client.fio', 'clientFio']"
    [responsive]="true"
    selectionMode="single"
    styleClass="p-datatable-responsive-sclub"
    #sharedTable
  >
    <ng-template pTemplate="caption">
      <div class="filter-input d-flex">
        <span class="p-input-icon-left me-2">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search" #search />
        </span>
        <button pButton class="p-button-outlined px-4" icon="pi pi-filter-slash" (click)="clear(sharedTable, search)"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.objectFieldToShow ? col.field + '.' + col.objectFieldToShow : col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (click)="onRowClick(rowData.id)">
        <ng-container *ngFor="let col of columns">
          <!-- Object fild -->
          <td *ngIf="col.type === 'object'">
            <span class="p-column-title">{{ col.header }}</span>
            <!-- No subtype -->
            <div *ngIf="!col.subtype" class="inline-block">{{ rowData[col.field][col.objectFieldToShow] }}</div>

            <!-- Date subtype -->
            <div *ngIf="col.subtype === 'date'" class="inline-block">
              {{ rowData[col.field][col.objectFieldToShow] | date: "d MMMM y" }}
            </div>
          </td>

          <!-- Date fild -->
          <td *ngIf="col.type === 'date'">
            <span class="p-column-title">{{ col.header }}</span>
            {{ rowData[col.field] | date: "d MMMM y" }}
          </td>

          <!-- Price fild -->
          <td *ngIf="col.type === 'price'">
            <span class="p-column-title">{{ col.header }}</span>
            {{ rowData[col.field] | currency: "RUB":"symbol" }}
          </td>

          <!-- Boolean fild -->
          <td *ngIf="col.type === 'boolean'">
            <span class="p-column-title">{{ col.header }}</span>
            <div [innerHTML]="rowData[col.field] | status"></div>
          </td>

          <!-- Phone fild -->
          <td *ngIf="col.type === 'phone'">
            <span class="p-column-title">{{ col.header }}</span>
            <div>
              <strong>{{ rowData[col.field] }}</strong>
              <span *ngIf="rowData.contact1"><br *ngIf="rowData[col.field]" />{{ rowData.contact1[col.field] }}</span>
              <span *ngIf="rowData.contact2"><br *ngIf="rowData[col.field]" />{{ rowData.contact2[col.field] }}</span>
            </div>
          </td>

          <!-- Email fild -->
          <td *ngIf="col.type === 'email'">
            <span class="p-column-title">{{ col.header }}</span>
            <div>
              <strong>{{ rowData[col.field] }}</strong>
              <span *ngIf="rowData.contact1"><br *ngIf="rowData[col.field]" />{{ rowData.contact1[col.field] }}</span>
              <span *ngIf="rowData.contact2"><br *ngIf="rowData[col.field]" />{{ rowData.contact2[col.field] }}</span>
            </div>
          </td>

          <!-- Primitive field -->
          <td *ngIf="!col.type">
            <span class="p-column-title">{{ col.header }}</span>
            {{ rowData[col.field] }}
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>
